*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1,
h2,
h3{
    color: #333;
}

p{
    color: #70747a;
}

/*Navbar*/

.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav{
    position: relative;
}

.logo {
    width: 70px;
    margin-top: 15px;
}

.navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px; 
}

.navbar-items a{
    color: #000;
    text-decoration: none;
    transition: 0,5s;
}
.navbar-items a:hover {
    color: #000;
}
.enter-btn {
    
padding: 15px 20px;
background-color: #2cc762;
border-radius: 5px;
}
.enter-btn:hover {
    background-color: #232a31;
    color: #fff;
    transition: 0.5s;

}
.main-banner {
    background-image: url(../img/Screenshot_6.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    padding: 10rem 0;
}
/*}
.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
*/
.main-banner h1,
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
} 
.main-banner h1 {
    font-size: 54px;  
}

.main-banner p {
    font-size: 32px;
}

/*Services*/

.services-container{
    padding: 5rem 0;

}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.services-container h3 {
    font-size: 20px;
}

.services-container h4 {
    font-size: 15px;
    margin-bottom: 15px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-diamond{
    color: aqua;
}

.services-container p{
    line-height: 23px;
}

.price-container{
    padding-bottom: 5rem;
    text-align: center;
}

.services-container h2 {
    font-size: 36px;
    margin-top: 0;
    text-align: center;
}

.services-container p {
    font-size: 20px;
    text-align: center;
}

.price-container{
    padding-bottom: 5rem;
    text-align: center;
    position: relative;
}
.price-container h2{
    font-size: 36px;
}
.price-container p{
    font-size: 20px;
}
.plans-container{
    display: flex;
    justify-content: space-between ;
    width: 90%;
    margin: 50px auto 0;
}

.plans-container h3{
    font-size: 36px;
    text-align: center;
}



.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul{
    padding: 0;
}

.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #232a31;
    color: #fff;
}
.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50px;
    background-color: #232a31;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    padding: 50px 0;
    text-align: center;
}

.plan .purchase-btn{
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .purchase-btn:hover{
    background-color: #000;
    color: #2cc762;
    transition: 0.5s;
}
/*Responvididade*/
@media (max-width: 1100px){
    .plans-container{
        width: 95%;
    }
    .plan{
        margin: 0 5px;
    }
    .plan .plan-name{
        flex-direction: column;
    }
}
    @media (max-width: 900px){
        .main-banner p{
            padding: 0 6rem;
        }

        .searchdomain-container{
            padding: 2rem 4rem;
        }
        
  
    }

    @media (max-width: 576px){
       .plans-container{
            flex-direction: column;
        }
        .plan {
            width: 100%;
            max-width: 100%;
        }
    }


